@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="titulo">
    <h1>
        Sobre
    </h1>
</div>
<div class="corpo" id="sobre">
    <h2>@Model.Nome</h2>
    <p class="ficha-tecnica">
        <strong>Primeira aparição:</strong> @Model.PrimeiraAparicao.<br>
        <strong>Nascimento:</strong> @Model.Nascimento.Day/@Model.Nascimento.Month/@Model.Nascimento.Day<br>
        <strong>Altura:</strong> @Model.Altura cm.<br>
        <strong>Peso:</strong> @Model.Peso kg.<br>
        <strong>Medidas:</strong> @Model.Medidas.<br>
        <strong>Tipo sanguíneo:</strong> @Model.TipoSanguineo.<br>
        <strong>Habilidades especiais:</strong>
        @{
            foreach (var @habilidade in Model.HabilidadesEspeciais)
            {
                if (Model.HabilidadesEspeciais.IndexOf(habilidade) == Model.HabilidadesEspeciais.Count - 1)
                {
                    <text> @habilidade.</text>
                }
                else
                {
                    <text> @habilidade,</text>
                }
            }

        }
        <br>
        <strong>Gosta:</strong>
        @{
            foreach (var @gosta in Model.Gosta)
            {
                if (Model.Gosta.IndexOf(gosta) == Model.Gosta.Count - 1)
                {
                    <text> @gosta.</text>
                }
                else
                {
                    <text> @gosta,</text>
                }
            }
        } <br>
        <strong>Desgosta:</strong>
        @{
            foreach (var @desgosta in Model.Desgosta)
            {
                if (Model.Desgosta.IndexOf(desgosta) == Model.Desgosta.Count - 1)
                {
                    <text> @desgosta.</text>
                }
                else
                {
                    <text> @desgosta,</text>
                }
            }

        }<br>
        <strong>Estilo de luta:</strong> @Model.EstiloDeLuta.<br>
        <strong>Origem:</strong> @Model.Origem.<br>
        <strong>Uma	fala de vitória:</strong> @Model.FalaVitoria.<br>
        <strong>Crescer-M1 nickname:</strong> @Model.NickName1.<br>
        <strong>Crescer-M2 nickname:</strong> @Model.NickName2.<br>
        <strong>Crescer-M3 nickname:</strong> @Model.NickName3.<br>
        <strong>Crescer-M1 stage:</strong> @Model.Stage1.<br>
        <strong>Crescer-M2 stage:</strong> @Model.Stage2.<br>
        <strong>Golpes especiais famosos:</strong>
        @{
            foreach (var @golpes in Model.GolpesEspeciaisFamosos)
            {
                if (Model.GolpesEspeciaisFamosos.IndexOf(golpes) == Model.GolpesEspeciaisFamosos.Count - 1)
                {
                    <text> @golpes.</text>
                }
                else
                {
                    <text> @golpes,</text>
                }
            }

        }<br>
    </p>
</div>

